* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --card-primary: #f7dd43;
  --card-title-border-color: #746615;
  --card-bg-color: #1d1c19;
  --card-bg-img: url(./assets/backgrounds/bg-yellow.svg);
}
body.blue {
  --card-primary: #338af3;
  --card-title-border-color: #338af3;
  --card-bg-color: #202024;
  --card-bg-img: url(./assets/backgrounds/bg-blue.svg);
}
body.green {
  --card-primary: #047c3f;
  --card-title-border-color: #047c3f;
  --card-bg-color: #1d1c19;
  --card-bg-img: url(./assets/backgrounds/bg-green.svg);
}
body {
  background-color: #121214;
  background-image: var(--card-bg-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body * {
  font-family: "Roboto", sans-serif;
}
#app {
  width: fit-content;
  margin: auto;
  padding-top: 52px;
}
header {
  margin-top: 15px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
}
.card {
  border-bottom: 2px solid var(--card-primary);
  border-radius: 6px;
  padding: 32px 23px;
  text-align: center;
  background: var(--card-bg-color);
  color: white;
}
.card h2 {
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  border: 1px solid var(--card-title-border-color);
  border-radius: 6px;
  gap: 16px;
  width: fit-content;
  margin-bottom: 53px;
  color: #f7dd43;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}
ul {
  list-style: none;
}
.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
}
.card ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #e1e1e6;
}
.card ul li + li {
  border-top: 1px solid #323238;
  padding-top: 24px;
}
.card ul li img {
  width: 50px;
  height: 50px;
}
.card ul li img:hover,
.card ul li strong:hover,
.card h2:hover {
  transform: scale(1.1);
}
.card ul li img:hover,
.card ul li strong:hover,
.card h2:hover {
  transition: transform 0.3s;
}
#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 600px;
  overflow-y: auto;
}
#cards::-webkit-scrollbar {
    width: 4px;
}

#cards::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

#cards::-webkit-scrollbar-thumb {
  background-color: var(--card-title-border-color);
  outline: 1px solid var(--card-title-border-color);
  border-radius: 6px;
}

.card {
  opacity: 0;
  animation: appear 0.5s forwards;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 700px) {
  #cards {
    max-width: 670px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
